## **WORKSHOP 001 - NOTEBOOK #1: Raw Data**

This notebook will primarily cover loading raw data into a PostgreSQL database. To achieve this, we will import the **connection.py** module, which handles reading environment variables and includes a function that creates the connection engine using **SQLAlchemy**. With this function, we will have the connection engine set up, enabling us to transfer data using the **Pandas** function **pd.DataFrame.to_sql()**.

---

### **Setting Environment**

In [8]:
import os 
print(os.getcwd())

try:
    os.chdir("../workshop-001")

except FileNotFoundError:
    print("""
        FileNotFoundError - The directory may not exist or you might not be in the specified path.
        If this has already worked, do not run this block again, as the current directory is already set to workshop-001.
        """)
    
print(os.getcwd())

d:\U\FIFTH SEMESTER\ETL\workshop-001
d:\U\FIFTH SEMESTER\ETL\workshop-001

### **Importing modules and libraries**

In [9]:
import pandas as pd
from functions.db_connection.connection import creating_engine
from sqlalchemy import text

### **Ingesting Data (_candidates.csv_)**

In [13]:
df = pd.read_csv('./data/candidates.csv', delimiter=';')

In [14]:
df

,First Name,Last Name,Email,Application Date,Country,YOE,Seniority,Technology,Code Challenge Score,Technical Interview Score
0,Bernadette,Langworth,leonard91@yahoo.com,2021-02-26,Norway,2,Intern,Data Engineer,3,3
1,Camryn,Reynolds,zelda56@hotmail.com,2021-09-09,Panama,10,Intern,Data Engineer,2,10
2,Larue,Spinka,okey_schultz41@gmail.com,2020-04-14,Belarus,4,Mid-Level,Client Success,10,9
3,Arch,Spinka,elvera_kulas@yahoo.com,2020-10-01,Eritrea,25,Trainee,QA Manual,7,1
4,Larue,Altenwerth,minnie.gislason@gmail.com,2020-05-20,Myanmar,13,Mid-Level,Social Media Community Management,9,7
...,...,...,...,...,...,...,...,...,...,...
49995,Bethany,Shields,rocky_mitchell@hotmail.com,2022-01-09,Dominican Republic,27,Trainee,Security,2,1
49996,Era,Swaniawski,dolores.roob@hotmail.com,2020-06-02,Morocco,21,Lead,Game Development,1,2
49997,Martin,Lakin,savanah.stracke@gmail.com,2018-12-15,Uganda,20,Trainee,System Administration,6,1
49998,Aliya,Abernathy,vivienne.fritsch@yahoo.com,2020-05-30,Czech Republic,20,Senior,Database Administration,0,0
49999,Coleman,Wisozk,abigayle.crooks@yahoo.com,2022-06-13,Palau,15,Intern,Mulesoft,3,1

### **Transfer data to DB in PostgreSQL**

In [16]:
engine = creating_engine()

ValueError: invalid literal for int() with base 10: '# PostgreSQL port, e.g. 5432'

In [ ]:
df.to_sql('candidates_raw', engine, if_exists='replace', index=False)