In [2]:
import pandas as pd

In [5]:
df = pd.read_csv('../data/candidates.csv', delimiter=';')

In [26]:
print(df.head())
print(df.info())

   First Name   Last Name                      Email Application Date  \
0  Bernadette   Langworth        leonard91@yahoo.com       2021-02-26
1      Camryn    Reynolds        zelda56@hotmail.com       2021-09-09
2       Larue      Spinka   okey_schultz41@gmail.com       2020-04-14
3        Arch      Spinka     elvera_kulas@yahoo.com       2020-10-01
4       Larue  Altenwerth  minnie.gislason@gmail.com       2020-05-20

   Country  YOE  Seniority                         Technology  \
0   Norway    2     Intern                      Data Engineer
1   Panama   10     Intern                      Data Engineer
2  Belarus    4  Mid-Level                     Client Success
3  Eritrea   25    Trainee                          QA Manual
4  Myanmar   13  Mid-Level  Social Media Community Management

   Code Challenge Score  Technical Interview Score  Year  Hired
0                     3                          3  2021  False
1                     2                         10  2021  False
2                    10                          9  2020   True
3                     7                          1  2020  False
4                     9                          7  2020   True
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   First Name                 50000 non-null  object
 1   Last Name                  50000 non-null  object
 2   Email                      50000 non-null  object
 3   Application Date           50000 non-null  datetime64[ns]
 4   Country                    50000 non-null  object
 5   YOE                        50000 non-null  int64
 6   Seniority                  50000 non-null  object
 7   Technology                 50000 non-null  object
 8   Code Challenge Score       50000 non-null  int64
 9   Technical Interview Score  50000 non-null  int64
 10  Year                       50000 non-null  int32
 11  Hired                      50000 non-null  bool
dtypes: bool(1), datetime64[ns](1), int32(1), int64(3), object(6)
memory usage: 4.1+ MB
None

In [ ]:
df['Application Date'] = pd.to_datetime(df['Application Date'], errors='coerce')
#print(df.isnull().sum())


string_columns = ['First Name', 'Last Name', 'Email', 'Country', 'Seniority', 'Technology']
# Trim whitespaces
for col in string_columns:
    df[col] = df[col].str.strip()


# Convert numeric columns (YOE and scores) to proper numeric types
df['YOE'] = pd.to_numeric(df['YOE'], errors='coerce')
df['Code Challenge Score'] = pd.to_numeric(df['Code Challenge Score'], errors='coerce')
df['Technical Interview Score'] = pd.to_numeric(df['Technical Interview Score'], errors='coerce')


# Drop rows where the Application Date is invalid or missing
df.dropna(subset=['Application Date'], inplace=True)
# Fill missing numeric values for YOE and scores with 0
df.fillna({'YOE': 0, 'Code Challenge Score': 0, 'Technical Interview Score': 0}, inplace=True)


df['Year'] = df['Application Date'].dt.year
df['Hired'] = (df['Code Challenge Score'] >= 7) & (df['Technical Interview Score'] >= 7)


df.drop_duplicates(inplace=True)


df.to_csv('../data/candidates_cleaned.csv', index=False)

In [ ]:
from sqlalchemy import create_engine

# Replace these details with your PostgreSQL credentials:
# Format: 'postgresql+psycopg2://username:password@host:port/database'
engine = create_engine('postgresql+psycopg2://your_username:your_password@localhost:5432/your_database')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   First Name                 50000 non-null  object
 1   Last Name                  50000 non-null  object
 2   Email                      50000 non-null  object
 3   Application Date           50000 non-null  datetime64[ns]
 4   Country                    50000 non-null  object
 5   YOE                        50000 non-null  int64
 6   Seniority                  50000 non-null  object
 7   Technology                 50000 non-null  object
 8   Code Challenge Score       50000 non-null  int64
 9   Technical Interview Score  50000 non-null  int64
 10  Year                       50000 non-null  int32
 11  Hired                      50000 non-null  bool
dtypes: bool(1), datetime64[ns](1), int32(1), int64(3), object(6)
memory usage: 4.1+ MB
None